@font-face {
  font-family: "STZhongsong";
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/luziyi/jsdelivr@main/font/华文中宋.ttf")
    format("truetype");
}

/* 应用自定义字体到整个网站 */
body {
  font-family: "STZhongsong", sans-serif;
}

#article-container h1:before {
  content: "<Custom>";
}
/* h2~6以此类推 */

#article-container h1:before {
  content: "\f0c9";
}

#article-container h2:before {
  content: "\f0c9";
}

#article-container h3:before {
  content: "\f0c9";
}