@font-face {
  font-family: "STZhongsong";
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/luziyi/jsdelivr@main/font/华文中宋.ttf") format("truetype");
}

/* 应用自定义字体到整个网站 */
body {
  font-family: "STZhongsong", sans-serif;
}

code {
  border-radius: 4px;
}

img {
  border-radius: 10px; /* 你可以根据需要调整圆角的大小 */
  box-shadow: 5px 5px 5px #888888;
}

/* 确保使用类选择器或者自定义元素 */
.recent-post-item {
  height: 12.8em;
}

.hbe-button {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  padding: 10px 20px;
  border: none;
  border-radius: 25px; /* Rounded corners */
  font-size: 16px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

.hbe-button:hover {
  background-color: #333; /* Darker black on hover */
}

.hbe-button::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff; /* White arrow */
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0 5px 5px 0;
}
