@font-face {
  font-family: "STZhongsong";
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/luziyi/jsdelivr@main/font/华文中宋.ttf")
    format("truetype");
}

/* 应用自定义字体到整个网站 */
body {
  font-family: "STZhongsong", sans-serif;
}
